<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" type="text/css" href="maincss.css"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Electronic Complaint Portal</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
	
  </head>
  <body>
  
    <header>
		<div class="jumbotron">
			<div class="container">
			<div class="pull-right">
			
				<h2>
				
				    Welcome To Electronic Complaint Portal</h2>
				<h5>The portal that handles all complaints that you raise against the participant organization</h5>
			</div>
			
	<div id="image"	>	
 <img src="complaints.png" alt="Thumbnail Image 1" class="img-responsive">
 </div>
 
			</div> 
		</div>
		
		<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
		
			<div class="navcolor">
			<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					</div>
				
				<div class="collpase navbar-collapse" id="example">
					<ul class="nav navbar-nav">
						<li><a href="">Company SignUp</a></li>
						<li><a href="">About Us</a></li>
						<li><a href="">FAQ</a></li>
					</ul>

				</div>

			</div>
			</div>
			
			<div class="container">
			<ol class="breadcrumb">
				<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
</button>
		
				
			</ol>
		</div>
			
			
			<div class="container">
			
			<div class="row">
			
				<div class="col-sm-4">
				<div class="panel panel-default panel-info">
				<div class="panel-heading"><h4 class="panel-title">Login to your account</h4></div>
				<div class="panel-body">
           
        
	       
    <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Username</span>
  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
  </div><br>
  
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1"> Password. </span>
  <input type="password" class="form-control" placeholder=" Password" aria-describedby="basic-addon1"><br>
</div> <br>


<input type="submit" class="btn btn-info" value="Login">

	<div id=buttons>
	 <p><a href="newUserform.html">New user</a></p>
	 <p>
	 <a href="forgotPassword.html">Forgot password</a></p>
	 </div>
		</div>
				
				
			</div>
			</div>
			<div class="col-sm-6">
					<div class="text-center">
					Welcome to Electronic Complaint's Portal. This portal ensures a genuine forum for customers to voice their opinions and submit their comments in order to improve services and enhance practices.</div>
				
				</div>
			</div>
			
			</div>
			
			
				
		</div>
			
			
		
	</header>

		


	<footer>
		<div class="container">
			
		</div> <!-- end container -->
	</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>